RewriteEngine On

RewriteRule ^connexion$ src/views/connexion.php
RewriteRule ^connexion_controls$ src/controllers/connexionController.php
RewriteRule ^style$ src/public/style.css
RewriteRule ^autoload$ vendor/autoload.php
