RewriteEngine On

RewriteRule ^accueil$ index.php
RewriteRule ^connexion$ src/views/connexion.php
#RewriteRule ^connexion_controls$ src/controllers/utilisateurController.php
RewriteRule ^style$ src/public/style.css
RewriteRule ^script$ src/public/script.js
RewriteRule ^header$ src/public/header.css
RewriteRule ^entreprises/liste$ src/views/liste.php
RewriteRule ^logo$ src/public/logo.jpg
RewriteRule ^utilisateurs/connexion$ src/controllers/utilisateurController.php?get_connexion
