RewriteEngine On
#Home page
RewriteRule ^accueil$ index.php
#login routes
RewriteRule ^connexion$ src/views/connexion.php
RewriteRule ^utilisateurs/connexion$ src/controllers/utilisateurController.php?get_connexion
# Etreprise routes
RewriteRule ^entrerises/liste$ src/views/entreprises/liste.php
#utils routes
RewriteRule ^style$ src/public/style.css
RewriteRule ^script$ src/public/script.js
RewriteRule ^header$ src/public/header.css
RewriteRule ^logo$ src/public/logo.jpg